<section class="flex flex-col items-center px-16 pt-2.5 pb-14 w-full text-center bg-stone-100">
  <div class="flex flex-wrap gap-5 justify-between items-end w-full max-w-[993px]">
    <div class="flex flex-col text-base text-black">
      <img src="http://b.io/ext_31-" alt="Instagram logo" class="w-[104px]">
      <p class="mt-1.5">sns.bythasia</p>
    </div>
    <div class="flex flex-col items-center">
      <h2 class="text-3xl text-slate-700">Let's Connect</h2>
      <div class="flex flex-col items-center mt-20 w-[155px]">
        <img src="http://b.io/ext_32-" alt="Facebook logo" class="w-[76px]">
        <p class="mt-5">sugarsalt.bythasia</p>
      </div>
    </div>
    <div class="flex flex-col text-base text-black">
      <img src="http://b.io/ext_33-" alt="Phone icon" class="w-[91px]">
      <p class="mt-3">+62 812 3456 7890</p>
    </div>
  </div>
</section>
