<section class="relative w-full h-screen">
  <!-- Image with Overlay -->
  <div class="absolute inset-0 bg-blue-900 bg-opacity-25 z-10"></div>
  <!-- Hero Image (background layer) -->
  <img src="/assets/images/strudla_main.jpg" alt="Strudla" class="object-cover w-full h-full">

  <!-- Centered Call-to-Action Button -->
  <div class="absolute inset-0 flex items-center justify-center z-20">
    <button href="#contact-about" class="px-6 py-3 text-2xl font-bold font-serif border border-white text-white bg-transparent hover:bg-white hover:text-black transition">
      OBJEDNAŤ TERAZ
    </button>
  </div>
</section>
