<section class="px-10 pt-12 pb-24 bg-white">
  <h2 class="text-4xl text-slate-700 font-serif mt-5 text-center">Čo hovoria naši zákazníci</h2>

  <div class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="bg-gray-50 p-6 rounded-lg shadow-lg h-55 flex items-center">
      <div>
        <p class="italic text-lg text-slate-600">"Strudla bola úžasná! Perfektná kombinácia chrumkavého cesta a sladkej plnky. Budem sa vracať znova!"</p>
        <p class="mt-4 text-right text-slate-700 font-medium">- Mária Nováková</p>
      </div>
    </div>

    <div class="bg-gray-50 p-6 rounded-lg shadow-lg h-55 flex items-center">
      <div>
        <p class="italic text-lg text-slate-600">"Najlepšia štrúdla, akú som kedy mala! Určite si ju objednám znovu!"</p>
        <p class="mt-4 text-right text-slate-700 font-medium">- Ján Horváth</p>
      </div>
    </div>

    <div class="bg-gray-50 p-6 rounded-lg shadow-lg h-55 flex items-center">
      <div>
        <p class="italic text-lg text-slate-600">"Veľmi chutná štrúdla, skvelá voľba na každú oslavu alebo len tak k popoludňajšej káve."</p>
        <p class="mt-4 text-right text-slate-700 font-medium">- Petra Kováčová</p>
      </div>
    </div>
  </div>
</section>
