
<footer class="bg-slate-700 text-white px-6 py-12 w-full">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-start gap-10">

    <div class="flex flex-col items-start w-full md:w-auto mb-8 md:mb-10 md:-ml-16">
      <img src="assets/icons/DomaceStrudleICON.png" alt="Domáce Štrúdle Icon" class="w-65 h-65 pr-20" />
    </div>

    <div class="w-full md:w-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-16">
        <div class="flex flex-col">
          <h3 class="text-lg font-bold font-serif mb-2">Kontakt</h3>
          <p class="font-serif">eshop&#64;domacestrudle.sk</p>
          <p class="font-serif">Tel: +421 812 345 678</p>
          <p class="font-serif">Veľká Mača, Bratislavská 100</p>
          <p class="font-serif">Pon-Pia: 8:00 - 18:00</p>
        </div>

        <div class="flex flex-col">
          <h3 class="text-lg font-bold font-serif mb-2">Pre zákazníkov</h3>
          <a [routerLink]="'/contact-about'" fragment="contact-section" class="hover:text-gray-300 font-serif">O nás</a>
          <a [routerLink]="'/contact-about'" fragment="contact-section" class="hover:text-gray-300 font-serif">Kontakt</a>
          <a [routerLink]="'/home'" fragment="catalog" class="hover:text-gray-300 font-serif">Katalóg</a>
          <a [routerLink]="'/'" class="hover:text-gray-300 font-serif">Obchodné podmienky</a>
          <a [routerLink]="'/'" class="hover:text-gray-300 font-serif">Ochrana súkromia</a>
        </div>

        <div class="flex flex-col">
          <h3 class="text-lg font-bold font-serif mb-2">Sledujte nás</h3>
          <a href="https://facebook.com" target="_blank" class="hover:text-gray-300 font-serif">Facebook</a>
          <a href="https://instagram.com" target="_blank" class="hover:text-gray-300 font-serif">Instagram</a>
          <a href="https://tiktok.com" target="_blank" class="hover:text-gray-300 font-serif">TikTok</a>
        </div>

      </div>

      <hr class="border-t border-white mt-12" />
    </div>
  </div>
</footer>
