<app-header-standard></app-header-standard>

<section id="contact-section" class="px-10 py-20 bg-white">
  <div class="container mx-auto text-center">
    <div class="flex items-center justify-center mb-16">
      <img src="/assets/icons/vintageLeft.png" alt="Left Decoration" class="h-20 text-gray-700 mr-4 filter-blue">
      <h2 class="text-5xl font-serif text-gray-700">Kontakt</h2>
      <img src="/assets/icons/vintageRight.png" alt="Right Decoration" class="h-20 text-gray-700 ml-4 filter-blue">
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

      <div class="flex flex-col items-center">
        <h3 class="text-2xl font-bold text-gray-700">Zavolajte nám</h3>
        <p class="text-l text-gray-600 mt-3">+421 812 345 678</p>
        <ul class="mt-4 text-gray-600">
          <li>pon-piatok: 8:00 - 18:00</li>
        </ul>
      </div>

      <div class="flex flex-col items-center">
        <h3 class="text-2xl font-bold text-gray-700">Napíšte nám</h3>
        <p class="mt-4 text-gray-600">eshop&#64;strudleshop.sk</p>
        <p class="mt-2 text-gray-600">reklamacie&#64;strudleshop.sk</p>
      </div>

      <div class="flex flex-col items-center">
        <h3 class="text-2xl font-bold text-gray-700">Adresa predajne</h3>
        <p class="mt-4 text-gray-600">StrudleShop, s.r.o.</p>
        <p class="text-gray-600">Matuškovská cesta 1413/17</p>
        <p class="text-gray-600">924 01 Galanta</p>
        <p class="text-gray-600">Slovensko</p>
      </div>

    </div>
  </div>
</section>

<section class="px-10 py-24 bg-stone-100">
  <div class="container mx-auto">
    <div class="flex items-center justify-center mb-16">
      <img src="/assets/icons/vintageLeft.png" alt="Left Decoration" class="h-20 text-gray-700 mr-4 filter-blue">
      <h2 class="text-5xl font-serif text-gray-700 text-center">O nás</h2>
      <img src="/assets/icons/vintageRight.png" alt="Right Decoration" class="h-20 text-gray-700 ml-4 filter-blue">
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">

      <div class="relative">
        <img src="/assets/images/onas.jpg"
             alt="About us"
             class="rounded-lg shadow-lg object-cover w-full">
        <div class="absolute inset-0 bg-blue-900 bg-opacity-25 rounded-lg"></div>
      </div>
      
      <div class="flex flex-col justify-center">
        <h3 class="text-3xl font-serif text-gray-700 mb-6">Tradičné domáce štrúdle</h3>
        <p class="text-gray-600 text-lg leading-relaxed">
          Naša tradícia štrúdlí začala pred viac ako <strong>30 rokmi</strong>,
          keď naša stará mama začala pripravovať štrúdle pre rodinu a priateľov.
          Tajomstvom jej štrúdlí je starostlivý výber čerstvých surovín a láska, ktorú do
          každej štrúdle vkladá. Dnes pokračujeme v tejto tradícii a ponúkame vám
          autentické štrúdle, aké poznáte z detstva.
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
