<section class="px-16 py-24 bg-stone-100">
  <h2 class="text-4xl text-slate-700 font-serif mt-5 text-center">Naše Pobočky</h2>

  <div class="mt-12 flex flex-col lg:flex-row gap-12 justify-center">
    <div class="flex flex-col gap-8">
      <div class="flex gap-4 items-start">
        <p class="text-lg">Námestie SNP 1, Bratislava, Slovensko</p>
      </div>
      <div class="flex gap-4 items-start">
        <p class="text-lg">Hlavná 22, Košice, Slovensko</p>
      </div>
      <div class="flex gap-4 items-start">
        <p class="text-lg">Námestie sv. Michala 15, Trenčín, Slovensko</p>
      </div>

      <div class="mt-8">
        <h3 class="text-xl font-serif font-semibold mb-9">Hodiny pre Telefonické Objednávky:</h3>
        <ul class="text-base">
          <li class="flex justify-between w-full border-b py-3">
            <span>Pondelok</span>
            <span>8:00 AM - 8:00 PM</span>
          </li>
          <li class="flex justify-between w-full border-b py-3">
            <span>Utorok</span>
            <span>8:00 AM - 8:00 PM</span>
          </li>
          <li class="flex justify-between w-full border-b py-3">
            <span>Streda</span>
            <span>8:00 AM - 8:00 PM</span>
          </li>
          <li class="flex justify-between w-full border-b py-3">
            <span>Štvrtok</span>
            <span>8:00 AM - 8:00 PM</span>
          </li>
          <li class="flex justify-between w-full border-b py-3">
            <span>Piatok</span>
            <span>8:00 AM - 8:00 PM</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="lg:ml-16">
      <img src="assets/images/google_maps_screen.png" alt="Google Maps" class="w-[650px] h-auto rounded-lg shadow-lg">
    </div>
  </div>
</section>
