<section class="px-16 py-24 bg-stone-100">
  <h2 class="text-4xl text-slate-700 font-serif mt-5 text-center">Naše Pobočky</h2>

  <div class="mt-12 flex flex-col lg:flex-row gap-12 justify-center">
    <div class="flex flex-col gap-8">
      <div class="flex gap-4 items-start">
        <p class="text-lg font-serif text-slate-700">Veľká Mača 92532, Bratislavská 100</p>
      </div>
      <div class="flex gap-4 items-start">
        <p class="text-lg font-serif text-slate-700">Tel.: 0955 445 515 785</p>
      </div>
      <div class="flex gap-4 items-start">
        <p class="text-lg font-serif text-slate-700">Email: domacestrudle&#64;gmail.com</p>
      </div>

      <div class="mt-8">
        <h3 class="text-xl font-serif mb-9">Hodiny pre Telefonické Objednávky:</h3>
        <ul class="text-base">
          <li class="flex justify-between w-full border-b py-3">
            <span>Pondelok</span>
            <span>8:00 - 20:00</span>
          </li>
          <li class="flex justify-between w-full border-b py-3">
            <span>Utorok</span>
            <span>8:00 - 20:00</span>
          </li>
          <li class="flex justify-between w-full border-b py-3">
            <span>Streda</span>
            <span>8:00 - 20:00</span>
          </li>
          <li class="flex justify-between w-full border-b py-3">
            <span>Štvrtok</span>
            <span>8:00 - 20:00</span>
          </li>
          <li class="flex justify-between w-full border-b py-3">
            <span>Piatok</span>
            <span>8:00 - 20:00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="lg:ml-16">
      <img src="assets/images/google_maps_screen.png" alt="Google Maps" class="w-[650px] h-auto rounded-lg shadow-lg">
    </div>
  </div>
</section>
