<section class="px-10 pt-12 pb-24 bg-slate-700">
  <h2 class="text-4xl text-white font-serif mt-5 text-center">Čo hovoria naši zákazníci</h2>

  <div class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="bg-slate-600 p-6 rounded-lg shadow-lg h-55 flex items-center">
      <div>
        <p class="italic text-lg text-white">"Objednala som si jablkovú štrúdľu na rodinnú oslavu a bola som nadšená! Cesto bolo neuveriteľne jemné a plnka bohatá a plná chuti. Hostia sa ma stále pýtali, odkiaľ som ju vzala. Určite si objednám znova."</p>
        <p class="mt-4 text-right text-white font-medium">- Mária Nováková</p>
      </div>
    </div>

    <div class="bg-slate-600 p-6 rounded-lg shadow-lg h-55 flex items-center">
      <div>
        <p class="italic text-lg text-white">"Musím pochváliť rýchle dodanie a vynikajúcu kvalitu štrúdle. Objednávku som spravil ráno a už popoludní som si vychutnával čerstvú makovú štrúdľu. Skvelá služba a ešte lepšia chuť!"</p>
        <p class="mt-4 text-right text-white font-medium">- Ján Horváth</p>
      </div>
    </div>

    <div class="bg-slate-600 p-6 rounded-lg shadow-lg h-55 flex items-center">
      <div>
        <p class="italic text-lg text-white">"Objednávam pravidelne a nikdy som nebola sklamaná. Štrúdle sú vždy čerstvé, plné chutnej plnky a cesto je dokonale chrumkavé. Milujem aj rôzne sezónne príchute. Odporúčam všetkým milovníkom tradičných dobrôt!"</p>
        <p class="mt-4 text-right text-white font-medium">- Petra Kováčová</p>
      </div>
    </div>
  </div>
</section>
