<header class="bg-transparent text-white absolute top-0 left-0 w-full z-50">

  <div class="max-w-7xl mx-auto flex items-center justify-between px-8 py-5 font-serif">

    <div class="text-xl font-bold">Domáce štrúdle</div>

    <nav class="flex gap-6">
      <a [routerLink]="'/home'" fragment="catalog" class="hover:text-gray-300">Katalóg</a>
      <a [routerLink]="'/contact-about'" class="hover:text-gray-300">O nás</a>
      <a [routerLink]="'/contact-about'" class="hover:text-gray-300">Kontakt</a>
      <a *ngIf="isLoggedIn && !isAdmin" [routerLink]="'/order-history'" class="hover:text-gray-300">Moje objednávky</a>
      <a *ngIf="isAdmin" [routerLink]="'/admin/dashboard'" class="hover:text-gray-300">Admin Dashboard</a>
    </nav>

    <div>
      <button *ngIf="!isLoggedIn"
              [routerLink]="'/login'"
              class="px-4 py-1 border border-white text-white rounded-full bg-transparent transition-colors duration-300 hover:bg-white hover:text-black">
        Prihlásiť sa
      </button>
      <button *ngIf="isLoggedIn"
              (click)="logout()"
              class="px-4 py-1 border border-white text-white rounded-full bg-transparent transition-colors duration-300 hover:bg-white hover:text-black">
        Odhlásiť sa
      </button>
    </div>
  </div>

</header>
