<section class="my-12 px-10">
  <h2 class="text-3xl font-serif text-slate-700 text-center mb-8">Mohlo by sa vám páčiť</h2>

  <div class="relative">

    <button (click)="scrollLeft()"
            class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-200 hover:bg-gray-300 rounded-full w-10 h-10 flex items-center justify-center shadow-md">
      &#8249;
    </button>

    <div class="flex overflow-hidden space-x-6 px-10" #scrollContainer>
      <a *ngFor="let product of recommendedProducts"
         [routerLink]="['/product', product.productID]"
         class="w-1/3 bg-white rounded-lg shadow-lg overflow-hidden flex-shrink-0 m-2">
        <img [src]="product.imageURL" [alt]="product.name" class="w-full h-64 object-cover">

        <div class="p-6">
          <h3 class="text-xl font-serif text-slate-700 truncate">{{ product.name }}</h3>
          <p class="text-lg font-semibold text-slate-800">{{ product.price | currency:'EUR':'symbol':'1.2-2' }}</p>
        </div>
      </a>
    </div>

    <button (click)="scrollRight()"
            class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-200 hover:bg-gray-300 rounded-full w-10 h-10 flex items-center justify-center shadow-md">
      &#8250;
    </button>
  </div>

</section>
