<footer class="flex overflow-hidden flex-col px-20 pt-12 pb-48 w-full text-base bg-slate-700 max-md:px-5 max-md:max-w-full">
  <div class="flex flex-wrap gap-10 justify-between items-center w-full leading-snug max-md:mr-0.5 max-md:max-w-full mt-4">
    <h2 class="font-semibold text-white">Domáce štrúdle</h2>
    <nav class="flex gap-8 items-start font-medium min-w-[240px] text-stone-100">
      <a href="#store">Store</a>
      <a href="#about-us">About Us</a>
      <a href="#catalog">Catalog</a>
      <a href="#contact-us">Contact Us</a>
    </nav>
  </div>
  <hr class="shrink-0 mt-16 max-w-full h-0 border border-white w-[1114px] max-md:mt-14">
</footer>
